version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - MYSQL_HOST=db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=password123
      - MYSQL_DB=distributor_db
    depends_on:
      - db
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/distributor-web:/app
      - /app/node_modules
    depends_on:
      - backend
  db:
    image: mysql:8.0
    environment:
    - MYSQL_ROOT_PASSWORD=password123
    - MYSQL_DATABASE=distributor_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: